.article {
	padding: 2rem 1rem;
	@include breakpoint (medium) {
		padding-left: 0;
		padding-right: 0;
	}
	h1 {
		margin-bottom: 3rem;
	}
	div.callout, p, h2, h3, ul, ol, div.code {
		max-width: 35rem;
		margin-left: auto;
		margin-right: auto;
	}

	h2, h3 {
		line-height: 1.2;
	}
	h2, h3, h4, h5 {
		text-align: center;
		font-family: $body-font-serif;
	}
	
	p a, h3 a {
		border-bottom: 1px solid $anchor-color;
		font-weight: $global-weight-bold;
		&:hover {
			border-color: $white;
		}
	}

	p strong, li strong {
		background-color: $yellow;
		padding: rem-calc(3) 0;
	}

	p, li {
		@include breakpoint(small only) {
			font-size: rem-calc(16)
		}
	}

	p em {
		font-weight: $global-weight-bold;
	}

	blockquote {
		max-width: 35rem;
		border-width: 3px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5rem;
		font-style: italic;
		padding-bottom: 1px;
		p {
			font-weight: $global-weight-bold;
		}
	}

	.pull-quote p {
		font-size: rem-calc(24);
	}

	.articles-list {
		max-width: 100%;
		li {
			float: left;
			margin-bottom: 2rem;
			font-size: rem-calc(16);
			@include breakpoint(large) {
				width: 24%;
				margin-right: 1%;
			}
			img {
				border: 3px solid $white;
			}
			img:hover {
				border: 3px solid $yellow;
			}
		}
		a span {
			font-size: rem-calc(24);
			font-weight: $global-weight-bold;
		}
	}

	.article-box {
		height: 375px;
		border: 1px solid $medium-gray;
		background-color: $white;
		padding: 1rem;
		margin-bottom: 2rem;
		img {
			max-width: 36px;
			max-height: 36px;
			border-radius: 1000px;
			margin-bottom: 10px;
		}
		&:hover {
			border-color: $red;
		}
		h3 {
			font-size: 1rem;
			border-bottom: 3px double $medium-gray;
			padding-bottom: rem-calc(10);
		}
		h3 a {
			border-bottom: none;
			&:hover {
				color: $oil;
			}
		}
		p {
			font-size: rem-calc(16);
		}
	}

	.article-box.guide {
		border-color: $oil;
		background-color: $oil;
		color: $white;
		&:hover {
			border-color: $yellow;
		}
		h3 {
			border-color: $white;
			a {
				color: $yellow;
			}
		}
	}

	div.image {
		text-align: center;
		margin-bottom: 2rem;
		img {
			padding: rem-calc(5);
			border: 1px solid $light-gray;
			background-color: $white;
		}
	}

	div.video {
		text-align: center;
		margin-bottom: 1rem;
	}

	.super-icon {
		font-size: 3rem;
	}

	.caption {
		font-style: italic;
		font-size: rem-calc(16);
		margin-top: 0;
		text-align: center;
	}

	div.code {
		margin-bottom: 1rem;
	}

	.callout {
		background-color: $blue;
		border: 3px solid $medium-gray;
		color: $white;
		text-align: center;
		margin: 2rem 0;
		p {
			font-weight: $global-weight-bold;
			font-size: 1.2rem;
			line-height: 1.2;
		}
		a {
			color: $yellow;
			border-color: $yellow;
			&:hover {
				color: $white;
				border-color: $blue;
			}
			&.button {
				color: $white;
			}
		}
		.button {
			border: 1px solid $white;
		}
	}
}

.services {
	.callout {
		background-color: $smoke;
		color: $oil;
		margin: 0 0 1rem;
		h2 {
			font-size: rem-calc(24);
			margin-bottom: 0;
			font-family: $body-font-family;
			font-style: normal;
			font-weight: $global-weight-bold;
			text-transform: uppercase;
		}
		h3.subheader {
			font-family: $body-font-family;
			font-style: normal;
			font-size: rem-calc(20);
			font-weight: $global-weight-bold;
			color: $red;
		}
		p, li {
			text-align: left;
			font-size: 1rem;
			font-weight: $global-weight-normal;
			font-size: rem-calc(16);
		}
		p {
			line-height: 1.4;
		}
		ul {
			margin-left: 1rem;
		}
	}
}

.gallery {
	background-color: $smoke;
}

.gateway {
	padding-top: 2rem;
	h2 {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		font-family: $body-font-serif;
		font-style: italic;
	}
}

.quote-break {
	background-color: $blue;
	color: $white;
	text-align: center;
	padding: 2rem 0;
	h2, h3 {
		font-family: $body-font-serif;
		font-style: italic;
	}
	h2 {
		margin-bottom: 2rem;
	}
	strong {
		background-color: $yellow;
		color: $oil;
		padding: 0 5px;
	}
}

.landing h2 {
	@include breakpoint(large) {
		font-size: 4rem;
		margin-bottom: 0;
		line-height: 1.2;
	}
}